@using StarProgrammerExtensionLibrary.Extensions
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<p>
    The original source code and this site is created by Stellan Lindell.<br />
    Don't hesitate to contact me on
    <a href="https://se.linkedin.com/in/stellanlindell" target="_BLANK">LinkedIn</a>,
    <a href="https://www.facebook.com/stellan.lindell" target="_BLANK">Facebook</a>,
    <a href="https://twitter.com/stellanlindell" target="_BLANK">Twitter</a> or via
    <a href="mailto:stiltet@gmail.com" target="_BLANK">mail</a>
    if you have any questions or if you just want to talk. <span class="smiley">&#9742;</span><span class="smiley bigger">&#9786;</span>
</p>
