@model List<KeyValuePair<string, string>>

@{
    ViewBag.Title = "GetControllerAndMethodsInProjectAsKeyValuePairs";
}

<h2>GetControllerAndMethodsInProjectAsKeyValuePairs</h2>

@RenderPage("../../Home/Index.cshtml", Model)